RAG Pipeline & Chatbot.json
{
  "name": "RAG Pipeline & Chatbot",
  "nodes": [
    {
      "parameters": {
        "content": "1) RAG Pipeline & Chatbot\n",
        "height": 80,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        -176
      ],
      "id": "c59dd8e9-e5f7-4383-a39c-a78c8e5ff0e1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1XW4uvhYYdLygqNNn0VRkimfqicXPDZST",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1XW4uvhYYdLygqNNn0VRkimfqicXPDZST"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        -32
      ],
      "id": "8baf4a66-3d96-4f5b-afb0-b383d125aec5",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        -32
      ],
      "id": "6a17d7d3-c381-4cb5-a1d2-f5119b934174",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KhBPpy6ENfLVbz1x",
          "name": "saeedalhasan314@gmai.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo1",
          "mode": "list",
          "cachedResultName": "demo1"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        128,
        -32
      ],
      "id": "424f202e-ca17-482e-9024-154ef213c7d2",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        176
      ],
      "id": "b299d03b-c200-49a8-a62e-d5a460afb234",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "0XKE4BSJvKjHkWue",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        272,
        176
      ],
      "id": "91de646d-e26d-47ec-bc18-ca0d000185b8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        720,
        16
      ],
      "id": "f9334e95-338d-4f03-b4d7-ede0b743015a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        512,
        16
      ],
      "id": "1983d1ef-0ed7-423d-aaae-881a70f930e7",
      "name": "When chat message received",
      "webhookId": "add2a007-58b1-4e65-aabb-348ad52248cb"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        592,
        224
      ],
      "id": "07f14552-e9d5-4890-b2e4-81e819c46d2f",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "FNXPUzLwdBira6j4",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access the policy and FAQ database",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo1",
          "mode": "list",
          "cachedResultName": "demo1"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        784,
        304
      ],
      "id": "5bebcf9b-7284-4c28-9064-65015e3fb7e1",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "t7Zb89wK1u7aKih2",
          "name": "Demo"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        864,
        464
      ],
      "id": "b22dd843-9448-449d-99a3-3d0b5b0ae61a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "0XKE4BSJvKjHkWue",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ed4fe899-404e-4f3a-a1fb-fc902c3df92e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "67e1fe6716ff23b205d922c247e34d7e7bdf574de696a9e011e835af9e36c718"
  },
  "id": "QxNDcTAjHcnbeote",
  "tags": []
}